* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 20px;
}